<!-- Loader.razor -->
<div class="loader-container" style="display: @(isLoading ? "" : "none")">
    <div class="loader"></div>
    @if (IsMessage)
    {
        <br />
        <span>
            Please wait... saving invoice will take some time
        </span>
    }
  
</div>

@code {
    [Parameter] public bool isLoading { get; set; }
    [Parameter] public bool IsMessage { get; set; } = false;
}


